<div class="poke-card">
    <div class="poke-card__img">
        <img src="{{item.img}}" alt="{{item.name}}">
    </div>
    <div class="poke-card__info information">
        <div class="information__identity">
            <p class="information__name">{{ item.name }}</p>
            <p class="information__number">N° {{item.id}}</p>
        </div>
        <div class="information__type">
            <p class="information__type-label">Type :</p>
            <p class="information__type-label" *ngFor="let t of item.type">- {{t}}</p>
        </div>
    </div>
</div>
