//HEADER
.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #EC1209;
}
.header__title{
    font-family: 'Lilita One', cursive;
    font-size: 5rem;
    color: white;
}
.header__img{
    width: 100px;
    height: auto;
    margin-bottom: -45px;
}
//UNDER-HEADER
.under-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
    
    font-family: 'Montserrat', sans-serif;
}
.type-select{
    border: 1px solid rgb(37, 37, 37);
    border-radius: 5Px;
    margin: 5px;
    font-size: 1.2rem;
}
.name-input{
    border: 1px solid rgb(37, 37, 37);
    border-radius: 5Px;
    margin: 5px;
    font-size: 1.2rem;
}
.id-input{
    border: 1px solid rgb(37, 37, 37);
    border-radius: 5Px;
    margin: 5px;
    font-size: 1.2rem;
}
//POKELIST
.pokelist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

//FOOTER
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #EC1209;
    padding: 1rem;
}
.footer__text{
    font-family: 'Monserrat',sans-serif;
    font-size: 0.9rem;
    color: white;
}